*{
  margin: 0;
}
#header{
  display: flex;
  background-color: gray;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  color: rgb(212, 205, 205);
}
#mainContainer{
  margin: 20px;
}
h2{
  font-weight: 400;
  margin: 
}

form{
  margin: 10px 0px;
}

input{
  margin: 0px 5px;
}

input:nth-of-type(1){
  margin-left: 0;
}

#submitButton{
  margin-top: 5px;
}

h2{
  text-decoration: underline;
}

.table-content{
  border-collapse: collapse;
  margin: 5px 0 10px;
  font-size: 0.9em;
  width: 800px;
  min-width: 400px;
}

.table-content thead tr{
  background-color: rgb(31, 176, 176);
  color: whitesmoke;
  font-weight: bold;
}

th, td{
  padding: 12px 15px;
  text-align: left;

}

.table-content tr:nth-of-type(even){
  background-color: rgb(215, 210, 210);
}

.table-content tbody tr{
  border-bottom: 1px solid rgb(212, 209, 209);
}

.over-budget{
  color: red;
}

footer{
  margin-left: 20px;
}